{
  "presets": ["env", "react"],
  "plugins": [
    [
      "module-resolver", {
        "alias": {
          "Components": "./src/App/components",
          "AppSource": "./src/App"
        }
      }
    ]
  ]
}
