{
  "presets": ["@babel/env", "@babel/react"],
  "plugins": [
    [
      "module-resolver", {
        "alias": {
          "Components": "./src/App/components",
          "AppSource": "./src/App",
          "Public": "./public",
          "ServerSource": "./src/server"
        }
      }
    ]
  ]
}
